  .contactContainer {
    width: 100%;
    margin: 1rem 0;
  }
  
  .sectionHeader {
    text-align: left;
    margin: 0 5px;
    padding: 10px 0 10px 2em;
    font: 400 36px "Oswald", sans-serif;
    color: var(--main-color);
    text-transform: uppercase;
    width: 100vw;
  }

  .headerText{
    width: 100%;
    text-align: left;
    margin: 0 5px;
    padding: 5px 0 20px 3.25em;
    font: 400 22px "Oswald", sans-serif;
    color: var(--main-color);
  }

  .directContactTitle{
    font: 400 30px "Oswald", sans-serif;
    text-transform: uppercase;

    margin: 0 0;
    color: var(--main-color);
  }
  
  .contactWrapper {
    margin: 0 3rem;
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  .formGrid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Left contact page */
  .formHorizontal {
    display: flex;
    justify-content: center;
    font-weight: 400;
    // max-width: 90vw;
    margin: 1em 0;
  }

  .messageSentCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    // max-width: 900px;
    padding: 2em 3em;
    margin: 1em 0;
    border: 2px solid gray;

    h2{
      font-size: 2rem;
    }

    p{
      font-size: 1.25rem;
    }
  }

  .formGroup{
    padding-bottom: 15px;
    padding-right: 18px;

    .col{
        width: 100%;
    }
  }

  .formCol{
    padding: 0 0;
  }
  
  .formControl{
    display: block;
    width: 340px;
    min-height: 20%;
    height: 50px;
    padding: 6px 12px;
    background-color: var(--form-background);
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea.contact{
    display: block;
    width: 700px;
    height: 180px;
    min-height: 100px;
    max-height: 350px;
    padding: 12px 16px;
    margin-right: 18px;
    background-color: var(--form-background);
    letter-spacing: 1px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    background-image: none;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sendButton {
    display: inline-flex;
    margin-top: 15px;
    padding-top: 0.75rem;
    height: 50px;
    border: none;
    border-radius: 12px;
    width: 175px;
    overflow: hidden;
    // overflow: hidden;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .altSendButton {
    width: 175px;
    height: 50px;
    transition: all 0.2s ease-in-out;
  }
  
  .sendText {
    display: block;
    margin-top: 0.75em;
    font: 400 20px "Lato", sans-serif;
    letter-spacing: 2px;
  }
  
  .altSendButton:hover {
    transform: translate3d(0px, -40px, 0px);
  }
  
  /* Begin Right Contact Page */
  .directContactContainer {
    width: 400px;
    padding-right: 3em;
    margin: 1em 0;
    // max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contactList {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .listItem{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    line-height: 4;
  }
  
  .contactText {
    font: 400 18px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: var(--color-gray);
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contactText a {
    color: var(--main-color);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contactText a:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  /* Social Media Icons */
  .socialMediaList{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .socialMediaList li a {
    color: #fff;
  }

  .socialMediaList li {
    position: relative;
    display: inline-flex;
    justify-content: center;
    height: 60px;
    width: 60px;
    // margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .socialMediaList li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .socialMediaList li:hover {
    background-color: #fff;
  }
  
  .socialMediaList li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
    pointer-events: none; // Need this to open links in new tab
  }
  
  .socialMediaList li:hover a {
    color: #000;
  }
  
  hr.sectionLine {
    border-color: rgba(255, 255, 255, 0.6);
  }
  
  /* Media Query for Mobile Devices */
  @media screen and (max-width: 480px) {

    .sectionHeader, .headerText{
      padding: 5px 12px;
    }
    
    .contactWrapper {
      margin: 10px auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .phone, .gmail {
      margin-left: 16px;
    }

    .socialMediaList > li, .contactIcon{
      transform: scale(0.85);
    }

    .formCol {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    textarea.contact {
      width: 340px;
    }
  
    .directContactContainer {
      margin: 30px 0;
      max-width: 280px;
    }
    .socialMediaList {
      left: 0;
    }
    .socialMediaList li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .socialMediaList li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
  }

  /* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .sectionHeader, .headerText{
    padding: 5px 12px;
  }
  
  .contactWrapper {
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .phone, .gmail {
    margin-left: 16px;
  }

  .socialMediaList > li, .contactIcon{
    transform: scale(0.85);
  }

  .formCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  textarea.contact {
    width: 340px;
  }

  .directContactContainer {
    margin: 30px 0;
    max-width: 280px;
  }
  .socialMediaList {
    left: 0;
  }
  .socialMediaList li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .socialMediaList li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}


/* Media Query for Tablets & Ipads in portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

  .formCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .phone, .gmail {
    margin-left: 16px;
  }

  .socialMediaList > li, .contactIcon{
    transform: scale(0.85);
  }


  textarea.contact {
    width: 340px;
  }

  .directContactContainer {
    margin: 30px 0;
    max-width: 280px;
  }
  .socialMediaList {
    left: 0;
  }
  .socialMediaList li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .socialMediaList li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .formControl{
    width: 255px;
  }
  textarea.contact {
    width: 530px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .sectionHeader, .headerText{
    padding: 1rem 4rem;
  }

  .formCol {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .phone, .gmail {
    margin-left: 16px;
  }

  .socialMediaList > *{
    margin-right: 10px;
  }
}