  .contactContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }
  
  .sectionHeader {
    text-align: center;
    margin: 0 auto 5px;
    padding: 10px 0 20px 0;
    font: 400 40px "Oswald", sans-serif;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contactWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    // width: 100%;
    max-width: 900px;
  }
  
  /* Left contact page */
  .formHorizontal {
    max-width: 400px;
    font-family: "Lato";
    font-weight: 400;
  }

  .formGroup{
    padding-bottom: 15px;

    .col{
        width: 100%;
        // display: flex;
    }
  }
  
  .formControl,
  textarea.contact {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 70%;
    min-height: 20%;
    height: 50%;
    padding: 6px 12px;
    background-color: var(--form-background);
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sendButton {
    margin-top: 15px;
    padding-top: 8px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  
  .altSendButton {
    width: 400px;
    height: 34px;
    transition: all 0.2s ease-in-out;
  }
  
  .sendText {
    display: block;
    margin-top: 10px;
    font: 700 12px "Lato", sans-serif;
    letter-spacing: 2px;
  }
  
  .altSendButton:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .directContactContainer {
    width: 400px;
    // max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contactList {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .listItem{
    display: flex;
    padding: 1rem 0;
    line-height: 4;
    color: var(--color-gray);
  }
  
  .contactText {
    font: 300 18px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: var(--color-gray);
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contactText a {
    color: var(--secondary-color);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contactText a:hover {
    color: var(--main-color);
    text-decoration: none;
  }
  
  /* Social Media Icons */
  .socialMediaList{
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .socialMediaList li a {
    color: #fff;
  }

  .socialMediaList li {
    position: relative;
    display: inline-flex;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .socialMediaList li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .socialMediaList li:hover {
    background-color: #fff;
  }
  
  .socialMediaList li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  }
  
  .socialMediaList li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px "Oswald", sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr.sectionLine {
    border-color: rgba(255, 255, 255, 0.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contactWrapper {
      display: flex;
      flex-direction: column;
    }
    .directContactContainer,
    .form-horizontal {
      margin: 0 auto;
    }
  
    .directContactContainer {
      margin-top: 60px;
      max-width: 300px;
    }
    .socialMediaList li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .socialMediaList li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
    .directContactContainer,
    .formWrapper {
      float: none;
      margin: 0 auto;
    }
    .formControl,
    textarea.contact {
      margin: 0 auto;
    }
  
    .name,
    .email,
    textarea.contact {
      width: 280px;
    }
  
    .directContactContainer {
      margin-top: 60px;
      max-width: 280px;
    }
    .socialMediaList {
      left: 0;
    }
    .socialMediaList li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .socialMediaList li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
  }
  
  @media screen and (max-width: 410px) {
    .sendButton {
      width: 99%;
    }
  }
  