.root {
  padding: 0 0;
  color: var(--main-color);
}

.main {
  padding: 8em 0 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    padding: 15em 0 4rem 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 1rem;
  background-color: var(--footer-color);
  justify-content: space-between;
  align-items: center;

  .bottomText{
    display: flex;
    width: 100vw;
    align-items: flex-start;
    padding: 0 0 0 7%;

    @media (max-width: 480px) {
      justify-content: space-around;
    }
    
    .col{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 5%;
      color: var(--footer-light-font);
    }
  }
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.aboutContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.particlesText {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  // height: 500px;
  margin-top: 3%;
  margin-left: 12%;
  font-family: 'Poppins';
  z-index: 10;

  // Mobile Devices
  @media (max-width: 480px) {
    margin-top: 30%;
    margin-left: 8%;
  }
}

.myNameIs{
  font-size: 25px;
  font-weight: 300;
}

.heroTitle{
  color: var(--main-color);
  font-size: var(--heroTitle-font-size);
  font-weight: 400;
  margin: 0 0;
  background-color: var(--app-color);
}

.heroSubtitle{
  color: var(--main-color);
  font-size: var(--heroSubtitle-font-size);
  margin: 0 0;
  font-weight: 400;
  // visibility: hidden;
}

.heroDesc{
  color: var(--main-color);
  font-size: var(--heroDesc-font-size);
  font-weight: 300;
  width: 80%;
}

.cta{
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  // height: 60px;
  // width: 200px;
  padding: 1em;
  @media (max-width: 480px) {
    padding: 0.5em;
  }
  font-size: clamp(16px, 20px, 24px);
  letter-spacing: 2px;
	transition: all 200ms ease-in-out;

  &:hover{
    background-color: var(--secondary-color);
    transform: translateY(7px);
  }
}

.headerCta{
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  width: 85px;
  font-size: 15px;
  font-weight: 400;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: var(--secondary-color);
  }
}

.aboutMeParallax{
  height: 60vh;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 3em 2em 0;
  margin: 4rem 0;
}

.title {
  transition: transform 0.5s ease-out 0s;
  position: absolute;
  color: var(--secondary-color);
  font-size: var(--parallaxTitle-font-size);
  left: -20%;
}

.subtitle{
  margin-left: 30%;
  margin-right: 5%;
  font-size: var(--parallaxSubitle-font-size);

  transform: translateY(57%);

}

h1.heroTitle.show {
  animation: fromLeft 1.5s;
  background-color: var(--app-container);
}

.heroSubtitle.show {
  animation: fromLeft 1.5s;
  background-color: var(--app-container);
  visibility: hidden;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    visibility:visible;
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.title a {
  text-decoration: none;
}

.title a:a,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  color: var(--link-color-hover);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  padding: 0.25rem;
} 

.skillsGrid{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 5px 15px;
  padding-left: 20px;
  list-style-type: circle ;

  li{
    font-size:var(--aboutMeDesc-font-size);
  }
}

.aboutMeDesc{
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  font-size: var(--aboutMeDesc-font-size);
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMeImage{
  // margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  transition: all 200ms ease-in-out;

  &:hover{
    filter: none;
    
  }
}

.aboutMeCards{
  max-width: 1300px;
  display: flex;
  flex-flow: row;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}

// Scroll Indicator

  .mouse{
    width: 50px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
  }

  .mouseWheel{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1.5s linear infinite;
  }

  @keyframes move-wheel {
    0%{
      opacity: 0;
      transform: translateY(-2rem);
    }
    100%{
      opacity: 1;
      transform: translateY(2rem);
    }
  }

  /* the important styles */
  
  .arrowWrap {
    position: sticky;
    background: var(--scroll-indicator);
    width: 10em;
    height: 10em;
    padding: 1em 1.75em;
    margin: 0rem 0 1rem;
    border-radius:50%;
    font-size:0.5em;
    display:block;
    border: 3px solid var(--scroll-indicator-arrow);
    // animation: arrowsWithDelay 13s infinite;
    animation-delay: 3.5s;
    z-index: 5;
    cursor: pointer;

    &:hover{
      // animation: arrows 3s infinite;
    }
  }
  
  .arrow {
    float:left;
    position:relative;
    width: 0px;
    height: 0px;
    top: 35%;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: var(--scroll-indicator-arrow) transparent transparent transparent;
    transform:rotate(360deg);
  }
  
  .arrow:after {
    content:'';
    position:absolute;
    top: -3.5em;
    left: -3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: var(--scroll-indicator) transparent transparent transparent;
    transform:rotate(360deg)
  }
  
  
  .hint {
    position:absolute;
    top:0.6em;
    width:100%;
    left:0;
    font-size:2em;
    font-style:italic;
    text-align:center;
    color:#fff;
    opacity:0;
  }
  
  .arrow-wrap:hover .hint {
    opacity:1;
  }

// I want the animation to run for M second. + I want the animation to delay for N seconds in between iterations. === N + M seconds

@keyframes arrows {
  0% { margin-bottom: -5em; }
  10% { margin-bottom: -3em; }
  20% { margin-bottom: -5em; }
  30% { margin-bottom: -3em; }
  40% { margin-bottom: -5em; }
  50% { margin-bottom: -3em; }
  60% { margin-bottom: -5em; }
  70% { margin-bottom: -3em; }
  80% { margin-bottom: -5em; }
  90% { margin-bottom: -3em; }
  100% { margin-bottom: -5em; }
}
@keyframes arrowsWithDelay {
  0% { margin-bottom: -5em; }
  2% { margin-bottom: -3em; }
  4% { margin-bottom: -5em; }
  6% { margin-bottom: -3em; }
  8% { margin-bottom: -5em; }
  10% { margin-bottom: -3em; }
  12% { margin-bottom: -5em; }
  14% { margin-bottom: -5em; }
  80% { margin-bottom: -5em; }
  90% { margin-bottom: -5em; }
  100% { margin-bottom: -5em; }
}