
@keyframes leftParallax {
    0%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(60%);
    }
}

@keyframes revBlock {
    0%{
        left: 0;
        width: 0%
    }
    50%{
        left:0%;
        width:100%
    }
    100%{
        left:100%;
        width:0%
    }
}

@keyframes appearText {
    0%{
        color: var(--main-color);
      }
      100%{
        color: var(--app-color);
      }
  }

  @keyframes hideText {
    0%{
        opacity: 1;
        height: 35vh;
    }
    100%{
        opacity: 0;
        height: 0vh;
    }
  }

  // Images


    .projectsContainer{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        // z-index: 9;
        // justify-content: flex-end;
        // max-height: calc(100vh * (var(--n-projects) + 2));
    }
    
  .iphone{
    height: 80vh;
    margin: 20px;
  }
  
  .projectsParallax{
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    position: relative;
    font-family: Montserrat, Avenir, Poppins, 'Sans Serif';
    padding: 3rem 3rem;
  }
  
  .projectsTitle{
    transition: transform 0.5s ease-out 0s;
    position: absolute;
    overflow-x: hidden;
    color: var(--secondary-color);
    font-size: 200px;
    left: -20%;
    margin: 0 0;
  }
  
  .projectsSubtitle{
    margin-left: 30%;
    margin-right: 5%;
    transform: translateY(57%);
    font-size: 36px;
  }


  .projectsGallery{
    margin: 4em 0;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  // Project Gallery Styles

  .projectGalleryText{
    position: relative;
    // border:1px solid black;
    z-index: 1;
    // height:100vh;
  }

  .projectsGalleryImages{
    position: relative;
    // border:1px solid black;
    z-index: 1;
  }

  .textReveal {
    display: inline;
    color: var(--app-container);
    animation: appearText 0.0001s linear forwards;
    animation-delay:'0.5s';
    position: 'relative';
    height: 50px;
    width: 100%;
  }

  .textContainer{
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px dashed black; */
    top: 36%;
    left: 3%;
    width: 50vw;
    position: fixed;
    }

  .detailsContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

  .details{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: calc(130vh / var(--n-projects));
    /* border: 1px dashed black; */
    width: 100%;
  }

  .textMask span{
    color: var(--app-container);
    animation: appearText 0.0001s linear forwards;
    animation-delay: 0.5s;
    position: relative;
    display: inline;
  }
  
  .textMask span::after{
    content:'';
    top:0;
    left:0;
    position:absolute;
    width:0%;
    height:100%;
    background: var(--text-mask);
    animation: revBlock 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay:0s;
  }


  @keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
    }

    @keyframes a-ltr-before{
        0% {transform: translateX(0)}
        100% {transform: translateX(200%)}
    }

    .projectID{
        margin: 5%;
        font-size: 30px;
    }



    .projectNameRevealContainer{
        position: relative;
    }

    .projectName{
        font-size: 60px;
        font-weight: 400;
        width: 100%;
        height: 100px;
    }

    .projectDesc{
        font-size: 20px;
        width: 100%;
    }

    .projectRole{
        font-size: 30px;
        width: 100%;
    }

    .projectType{
        font-size:25px;
        width: 100%;
    }

// ------------------------------ ImageContent

.imageContainer{
    /* border: 0.1px dashed black; */
    margin-left:50%;
    width:50%;
    height: calc(140vh * var(--n-projects));
    display: flex;
    flex-flow: column nowrap;
}

.imageBox{
    // outline: 0.1px dashed green;
    margin-top:40vh;
    // height: 100vh;
    position: relative;
}

// ====== MORE PROJECTS SECTION

@keyframes fadeUp {
    0%{
        opacity: 0;
        top: 8px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.moreProjects{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 3rem auto 0;
    padding: 100px 0px 0;
    max-width: 1100px;

    h1.title{
        font-size: 40px;
        font-weight: 300;
        margin: 10px;
    }
} 

.grid{
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
    color: var(--main-color);

    // li.projectTile{
    //     animation: riseUp 300ms ease-out;
    //     top: 0;

    //     @for $i from 1 through 11 {
    //         animation-delay: 100ms * $i;
    //     }
    // }
}



.projectTile{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    // height: 100%;
    padding: 2rem 1.75rem;
    border-radius: 8px;
    color: var(--main-color);
    background-color: var(--secondary-color);
    overflow: auto;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover{
        transform: translateY(-9px);
    }

    .icons{
        display: flex;
        width: 100%;;
        justify-content: space-between;

        &:nth-child(1){
            padding-left: 7px;
            padding-bottom: 5px;
        }

        .links{
            display: flex;
            justify-content: space-between;
            width: 20%;;
            // color: var(--secondary-color);
        }
    }


    .top{
        display: inline;
    }

    .title{
        display: inline-block;
        color: var(--main-color);
        padding-top: 0.5rem;
    }

    .desc{
        display: inline-block;
        color: var(--light-slate);
        font-size: 16px;
    }

    .stack{
        display: flex;
        align-items: flex-end;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0px;
        margin: 20px 0px 0px;
        list-style: none;

        .techName{
            font-family: var(--code-font);
            font-size: 14px;
            margin-right: 16px;
        }
    }
}

.toggleMore{
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    padding: 1.25rem 1.75rem;
    margin: 50px auto 0px;
    z-index: 5;
    cursor: pointer;

    &:hover{
        background-color: var(--secondary-color);

    }
}